.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c1c1c; /* Dark background */
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: flex;
    margin-right: 10px;
}

.navbar ul li:hover, .navbar div a:hover {
    background-color: #e50914; /* Bright red from the show */
    border-radius: 10px;
    transform: scale(1.07);
    transition: 0.4s ease;
}

.burger:hover {
    background-color: #e50914;
    border-radius: 10px;
    transform: scale(1.07);
    transition: 0.4s ease;
}

.navbar ul li a, .navbar div a {
    text-decoration: none;
    color: white; /* White text */
    margin: auto;
}

.navbar div a {
    padding: 10px;
}

.navbar div {
    display: flex;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.person, .interests {
    width: 25%;
    margin: auto;
}

.container img {
    border-radius: 10%;
    box-shadow: 10px 10px 5px #000000; /* Black shadow */
    width: 50%;
    height: auto;
}

.container img:hover {
    transform: scale(1.03);
    transition: 0.5s ease;
    box-shadow: 10px 10px 5px #e50914; /* Red shadow */
}

body {
    background-color: #1c1c1c; /* Dark background */
}

main {
    background: linear-gradient(90deg, #333333 0%, #4f4f4f 50%, #000000 100%); /* Darker gradient */
}

p {
    text-align: justify;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-left: 10px;
    color: #f5f5f5; /* Off-white text */
}

p:hover {
    background-color: #e50914; /* Red hover effect */
}

.container section {
    width: 100%;
    margin: auto;
}

/* Video and Thumbnail Styles */
.video1, .video2, .video3 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-thumbnail {
    margin-bottom: 20px;
}

.video-thumbnail img {
    border-radius: 10%;
    box-shadow: 5px 5px 5px #e50914; /* Red shadow */
    width: 100%;
    max-width: 600px;
    height: auto;
}

.video1 video, .video2 iframe, .video3 iframe {
    margin: auto;
}

/* Audio Styles */
.container-audio {
    display: flex;
    flex-direction: column;
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%;
    margin: auto;
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #e50914;
}

/* Book Section */
.container-book {
    display: flex;
    flex-direction: column;
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.book1 img, .book2 img, .book3 img {
    margin: auto;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #e50914; /* Red shadow */
    margin-bottom: 10px;
    transition: 0.5s ease;
}

.book1 a, .book2 a, .book3 a {
    margin: auto;
    text-decoration: none;
    color: white; /* White text */
    font-size: 1.2rem;
    transition: 0.7s ease;
}

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px black;
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #e50914;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a {
    margin-right: 10px;
}

/* Burger Menu Styles */
.burger {
    display: none;
}

/* Media Queries */
@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .person, .interests {
        width: 100%;
        margin: 0;
    }

    .person p {
        margin: 5px 0 10px 0;
    }

    .container img {
        margin-top: 20px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px #000000; /* Black shadow */
        width: 95%;
        height: auto;
    }

    h2 {
        margin: 10px;
        text-align: center;
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%;
        height: auto;
    }

    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .burger span {
        position: absolute;
        width: 30px;
        left: 5px;
        height: 3px;
        background-color: white;
        top:30px;
    }

    .burger span:nth-child(1) {
        transform: translateY(-10px);
    }

    .burger span:nth-child(3) {
        transform: translateY(10px);
    }

    .navbar ul {
        position: absolute;
        background: radial-gradient(circle at top left, #e50914, #000000, #333333); /* Dark red to black gradient */
        flex-direction: column;
        width: 30%;
        top: 68px;
        left: -30%;
        z-index: 2;
    }

    .navbar ul li {
        margin-top: 10px;
    }

    .navbar ul li a {
        font-size: 1.2rem;
    }

    .navbar.open ul {
        transform: translateX(100%);
        transition: 0.7s ease-in-out;
    }

    .navbar.open .burger span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .navbar.open .burger span:nth-child(2) {
        opacity: 0;
    }

    .navbar.open .burger span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }
    .form form fieldset{
        width: 80%;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .container img {
        margin-top: 20px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px #000000; /* Black shadow */
        width: 320px;
        height: 200px;
        margin: auto;
    }
}

.navbar ul .work {
    position: relative;
    display: flex;
    z-index: 10;
}

.navbar ul .work ul {
    position: absolute;
    flex-direction: column;
    left: 5;
    top: 100%;
    width: 100px;
    display: none;
    padding: 0;
    z-index: 20;
}

.navbar ul .work ul li {
    z-index: 20;
    background-color: #e50914;
    margin-bottom: 2px;
}

.navbar ul .work:hover ul {
    display: block;
}

.navbar ul .work ul li:hover {
    background-color: black;
    border-radius: 0;
}

.navbar ul .work ul {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 100%;
    width: 100px;
    display: none;
    padding: 0;
    z-index: 20;
    background-color: #000000; /* Dark background */
}

.navbar ul .work ul li {
    margin-top: 0;
    margin-bottom: 10px;
    background-color: unset;
    font-size: 1.2rem;
    margin-left: 10px;
    color: white; /* White text */
}

.navbar ul .work ul li:hover {
    background-color: #e50914; /* Red hover */
}

.navbar ul .work ul li:hover a:hover {
    color: white;
}

.navbar ul .work:hover ul li a {
    color: white;
}

.form {
    flex-direction: column;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form form fieldset input {
    margin-bottom: 10px;
}

.form form fieldset legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white; /* White legend text */
}

.form form button {
    width: 200px;
    font-size: 1.2rem;
    background-color: #e50914; /* Red button */
    color: white;
    margin: auto;
    margin-bottom: 20px;
}

.form form button:hover {
    font-size: 1.2rem;
    background-color: black; /* Black on hover */
    color: #e50914; /* Red text on hover */
}

.form form fieldset {
    width: 65%;
}
